/* Formátování HTML pomocí CSS*/
body {
    font-family:Verdana, sans-serif;
    background-color:#DDD;
    font-size:18px;
    padding-bottom:50px
  }

h1 {
    text-align:center;
  }

h2 {
    background-color: #EEE;
    border-top: 1px solid black;
    padding:10px 5px;
  }

p {
    margin:2px 10px;
    padding:0;
    text-align:justify;
  }
p.kod {
    margin:2px 30px 10px;
    padding:5px;
  }
.kod {
    font-family:Courier New, Courier, monospace;
    font-size:22px;
    font-weight: bold;
    /* background-color:rgb(250, 238, 238); */
    color:rgb(105, 15, 15);
  }
.kod .prom {
    color:#339;
    font-style:italic;
  }
.kod .tag {
    color:black;
  }
.kod .text {
    font-style:italic;
  }
.promli {
    font-family:Courier New, Courier, monospace;
    font-size:22px;
    font-weight: bold;
    color:#339;
    font-style:italic;
  }
td.kod {
    font-family:Courier New, Courier, monospace;
    font-size:16px;
    font-weight: bold;
    /* background-color:rgb(250, 238, 238); */
    color:rgb(105, 15, 15);
  }
td.tag {
    font-family:Courier New, Courier, monospace;
    font-size:16px;
    font-weight: bold;
    /* background-color:rgb(250, 238, 238); */
    color:black;
  }
td .prom, td.prom {
    font-family:Courier New, Courier, monospace;
    font-size:16px;
    font-weight: bold;
    color:#339;
    font-style:italic;
  }
td.pozn {
    font-size:80%;
  }
p.poznamka {
    font-size:60%;
    color:gray;
    margin: 0 30px 2px;
  }

table {
    margin:20px;
    border:3px solid black;
    border-collapse:collapse;
    width:80%;
  }
table td {
    border: 1px solid black;
    padding:7px;
  }
table .first {
    font-weight:bold;
    text-align:center;
    background-color:#eee;
  }

ul, ol {
    margin-left:30px;
  }

p.horni_odkazy {
    text-align:center;
    font-size:80%;
    margin-bottom:15px;
    min-width: 40em;
  }
p.horni_odkazy a {
    text-decoration:none;
    color:black;
  }
#foot {
    margin-top:15px;
    font-size:10px;
  }
#foot a {
    color:black;
    text-decoration: none;
  }
#foot a:link {text-decoration: none; color: black;}
#foot a:hover {color:#666;}
#foot a:visited {color:#666;}
#foot a:active {color:#666;}
