@import url("./css.css");

fieldset {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

fieldset > div {
  margin-bottom: 0.75rem;
  display: flex;
  gap: 2rem;
}

fieldset > div:last-of-type {
  margin-bottom: 0;
}

label {
  flex: 0 0 5rem;
  order: 1;
}

legend {
  font-variation-settings: "wght" var(--wght-bold);
}

input, select {
  order: 2;
}

input:invalid, select:invalid {
  border: 1px solid red;
}

input:invalid + label,
select:invalid + label {
  color: red;
}

input:where([type="checkbox"][role="switch"]) {
  appearance: none;
  position: relative;
  width: 2rem;
  height: 1rem;
  box-sizing: content-box;
  border: 1px solid black;
  border-radius: 1rem;
  transition: background-color var(--transition-time);
}

input:where([type="checkbox"][role="switch"])::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.7rem;
  height: 0.7rem;
  border: 1px solid black;
  margin: 0 0.15rem;
  border-radius: 50%;
  background-color: black;
  transform: translateY(-50%);
  transition: left var(--transition-time);
}

input:where([type="checkbox"][role="switch"]):checked::before {
  left: 0.9rem;
}

input:where([type="checkbox"][role="switch"]):checked {
  background-color: chartreuse;
}
