@import url('./css.css');

header > input,
header > label {
  display: none;
}

@media screen and (max-width: 800px) {
  header {
    position: static;
  }

  header nav {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: aliceblue;
    flex-direction: column;
    z-index: 5;
  }

  header > label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: deepskyblue;
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 0.25);
    z-index: 10;
    opacity: 0.25;
    transition: opacity var(--transition-time);
  }

  header > label:hover {
    opacity: 1;
  }

  header input:checked + nav {
    display: flex;
  }

  main {
    margin-top: 5rem;
  }
}
