body {
	margin:0;
	background:#f0f0f0;
	color:#999;
	font:16px "Techno CE", Impact, sans-serif;
	}

h1 { font-weight:normal; }
h4 { font-weight:normal; }
p { margin:1em 0; }
hr { display:none; }


#obsah {
	margin:260px 50px 0 30px;
	padding: 15px 0 0 0; border-top:1px solid #999;
	}
#obsah h1 {
	position:absolute; right:50px; top:370px;
	text-align:right;
	white-space:nowrap;
	font-size:48px; color:#ff9900;
	}
#basen {
	position:absolute; right:50px; top:65px; width:180px;
	white-space:nowrap;
	padding:1em 1ex 1em 120px;
	border-top:1px solid #666;
	background:url("pero.jpg") top left no-repeat;
	color:#e0e0e0;
	font-size:16px;
	}
#basen h4 { margin:0 0 1ex 0; color:white; }
#basen p { margin:0; }

h4.menu1 {
	position:absolute; left:30px; top:10px; width:120px;
	padding:5px;
	background:#ff9900; color:white;
	font-size:14px;
	}
p.menu1 {
	position:absolute; left:30px; top:50px; width:120px;
	}
p.menu1 a {
	display:block;
	white-space:nowrap;
	margin:0; padding:5px;
	color:silver;
	font-size:14px;
	}
p.menu1 a:before { content: '>__' }
p.menu1 a:hover { background:#ccc; color:white; }


h4.menu2 { display:none; }
p.menu2 {
	position:absolute; left:25px; top:480px;
	padding-top:15px;
	border-top:1px solid #ff9900;
	}
p.menu2 a {
	margin:0; padding:5px;
	white-space:nowrap;
	color:silver;
	font-size:14px;
	}
p.menu2 a:before { content: '>_' }
p.menu2 a:hover { background:#ff9900; color:white; }

.menuodd { display:none; }

#footer {
	position:absolute; right:15px; top:5px; width:500px;
	margin:0; padding:0;
	border-bottom:1px solid #ff9900;
	text-align:right;
	font-size:11px; color:#666;
	}
