body {
	margin:0;
	background: #E0D8CD url("obr2/pozadi.jpg") top left no-repeat;
	color:black;
	font:16px "Times CE", "Times New Roman CE", "Times New Roman", serif;
	}

h1,h2, h3, h4, .menu1, .menu2, #footer {
	font-family: "Arial CE", "Helvetica CE", Arial, sans-serif;
	}

p { margin:1em 0; }
hr { display:none; }


#obsah {
	margin:310px 0 0 45px;
	width:300px;
	}
#obsah p {
	margin:1ex 0;
	font-size:17px;
	line-height:130%;
	}
#obsah > h1+p:first-letter {
	float:left;
	font-size:60px; font-weight:bold;
	margin: -12px 10px 0 0; padding:0;
	color:#990000;
	}
#obsah h1 {
	position:absolute; left:0; top:200px; width:640px;
	margin:0; padding:0;
	text-align:center;
	font-size:60px; color:#000066;
	}
#basen {
	position:absolute; top:340px; left:420px; width:180px;
	white-space:nowrap;
	padding:0;
	}
#basen h4 {
	margin:0 0 1ex 0;
	font-size:13px;
	line-height:100%;
	}
#basen p {
	margin:0;
	font-size:13px;
	line-height:170%;
	letter-spacing:0.4ex;
	}

h4.menu1 {
	display:none;
	}
p.menu1 {
	position:absolute; left:50px; top:0px; width:120px;
	}
p.menu1 a {
	display:block;
	position:absolute; top:50px; width:100px; height:20px;
	white-space:nowrap;
	margin:0; padding:77px 0 3px 0;
	background:white; color:black;
	text-decoration:none;
	font-size:11px;
	text-align:center;
	}
p.menu1 a:hover { top:60px; font-weight:bold; font-size:13px; }

#menu11 { left:0; background:url("obr2/basne1.jpg"); }
#menu11:hover { background:url("obr2/basne2.jpg"); }

#menu12 { left:105px; background:url("obr2/noty1.jpg"); }
#menu12:hover { background:url("obr2/noty2.jpg"); }

#menu13 { left:210px; background:url("obr2/ruzne1.jpg"); }
#menu13:hover { background:url("obr2/ruzne2.jpg"); }

#menu14 { left:340px; background:url("obr2/linky1.jpg"); }
#menu14:hover { background:url("obr2/linky2.jpg"); }

#menu15 { left:445px; background:url("obr2/kontakt1.jpg"); }
#menu15:hover { background:url("obr2/kontakt2.jpg"); }


h4.menu2 { display:none; }
p.menu2 {
	position:absolute; left:45px; top:490px; width:550px;
	border-top:1px solid #333;
	padding-top:5px;
	text-align:center;
	}
p.menu2 a {
	margin:0; padding:2px;
	white-space:nowrap;
	color:black;
	font-size:11px;
	font-weight:bold;
	}
p.menu2 a:hover { background:#666; color:white; }

.menuodd { display:none; }

#footer {
	position:absolute; left:415px; top:40px;
	margin:0; padding:0;
	font-size:9px; color:black;
	}
